@page "/EditarDepartamentos/{Id}"
@inject NavigationManager NavigationManager
@using p23_universidadv3.Modelo
@using p23_universidadv3.Servicio
@inject ServicioDepartamentos serv;
@inject ServicioInstructores sins;

<h3>Editar Departamento</h3>

<div class="row">
    <div class="col-md-8">
        <EditForm Model="@obj" OnValidSubmit="@ActualizarDepartamento">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre</label>
                <InputText id="Nombre" class="form-control" @bind-Value="obj.Nombre"/>
            </div>
            <div class="form-group">
                <label for="Presupuesto" class="control-label">Presupuesto</label>
                <InputNumber id="Presupuesto" class="form-control" @bind-Value="obj.Presupuesto"/>
            </div>
            <div class="form-group">
                <label for="FechaDeInicio" class="control-label">Fecha de Inicio</label>
                <InputDate id="FechaDeInicio" class="form-control" @bind-Value="obj.FechaDeInicio"/>
            </div>
            <div class="form-group">
                <label for="InstructorId" class="control-label">Instructor</label>
                <InputSelect id="InstructorId" class="form-control" @bind-Value="obj.DepartamentoId">
                <option value="null">-Sin asignar-</option>
                @foreach(var i in @objins){
                    <option value="@i.Id">@i.NombreCompleto</option>
                }
                </InputSelect>
            </div> 
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-primary" @onclick="@Cancelar">Cancelar</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    Departamento obj = new Departamento();
    List<Instructor> objins;
    protected void ActualizarDepartamento()
    {
        serv.Actualizar(obj);
        NavigationManager.NavigateTo("Departamentos");
    }
    void Cancelar()
    {
        NavigationManager.NavigateTo("Departamentos");
    }

    protected override void OnInitialized()
    {
        objins = sins.ObtienerTodo();
        obj = serv.Obtener(Convert.ToInt32(Id));
    }
}