@page "/AgregarOficinaAsignadas"
@inject NavigationManager NavigationManager
@using p24_universidadv4.Modelo
@using p24_universidadv4.Servicio
@inject ServicioOficinaAsignadas serv;
@inject ServicioInstructores sins;

<h3>Asignar Oficina</h3>

<div class="row">
    <div class="col-md-8">
        <EditForm Model="@obj" OnValidSubmit="@CrearOficinaAsignada">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="form-group">
                <label for="InstructorId" class="control-label">Instructor</label>
                <InputSelect id="InstructorId" class="form-control" @bind-Value="obj.InstructorId">
                <option value="@(0)" disabled>-Elige un instructor-</option>
                @foreach(var i in @objins){
                    <option value="@i.Id">@i.NombreCompleto</option>
                }
                </InputSelect>
            </div>
            <div class="form-group">
                <label for="Ubicacion" class="control-label">Ubicacion</label>
                <InputText id="Ubicacion" class="form-control" @bind-Value="obj.Ubicacion"/>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-primary" @onclick="@Cancelar">Cancelar</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    OficinaAsignada obj = new OficinaAsignada();
    List<Instructor> objins;
    protected void CrearOficinaAsignada()
    {
        serv.Insertar(obj);
        NavigationManager.NavigateTo("OficinaAsignadas");
    }
    void Cancelar()
    {
        NavigationManager.NavigateTo("OficinaAsignadas");
    }
    protected override void OnInitialized()
    {
        objins = sins.ObtenerTodo();
    }
}