@page "/Cursos"
@using p25_universidadv5.Modelo;
@using p25_universidadv5.Servicio;
@inject ServicioCursos serv

<NavLink class="btn btn-primary" href="AgregarCursos">
    <i class="oi oi-plus"></i>&nbsp;Agregar Nuevo
</NavLink>

<h1>Informacion de Cursos</h1>

<label>Buscar por Titulo:</label>
<input type="text" @oninput="@( (e) => Filtro(e) )">

@if (obj is null)
{
    <p><em>Cargando...!</em></p>
}
else
{
    <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Creditos</th>
                    <th>Departamento</th>
                    <th></th>
                </tr>
            </thead>
        <tbody>
            @foreach(var i in obj)
            {
            <tr>
                <td>@i.CursoId</td>
                <td>@i.Titulo</td>
                <td>@i.Creditos</td>
                <td>@i.Departamento.Nombre</td>
                <td>
                    <a class="btn btn-primary" href="EditarCursos/@i.CursoId">
                        <i class="oi oi-pencil"></i>&nbsp;Editar
                    </a>
                    <a class="btn btn-danger" href="EliminarCursos/@i.CursoId">
                        <i class="oi oi-trash"></i>&nbsp;Eliminar
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code{
    List<Curso> obj;
    protected override void OnInitialized()
    {
        obj = serv.ObtenerTodo("");
    }

    protected void Filtro(ChangeEventArgs e) {
        string cadenaBuscar = e.Value.ToString();
        obj = serv.ObtenerTodo(cadenaBuscar);
    }
}