@page "/EliminarCursos/{Id}"
@inject NavigationManager NavigationManager
@using p25_universidadv5.Modelo
@using p25_universidadv5.Servicio
@inject ServicioCursos serv;
@inject ServicioDepartamentos sins;

<h3>Eliminar Curso</h3>
<hr>
<h3>¿Estás seguro de que desear eliminar?</h3>

<div class="row">
    <div class="col-md-8">
        <EditForm Model="@obj">
            <fieldset disabled="true">
                <div class="form-group">
                    <label for="Apaterno" class="control-label">Curso ID</label>
                    <InputNumber id="Apaterno" class="form-control" @bind-Value="obj.CursoId"/>
                </div>
                <div class="form-group">
                    <label for="Amaterno" class="control-label">Titulo</label>
                    <InputText id="Amaterno" class="form-control" @bind-Value="obj.Titulo"/>
                </div>
                <div class="form-group">
                    <label for="Nombre" class="control-label">Creditos</label>
                    <InputNumber id="Nombre" class="form-control" @bind-Value="obj.Creditos"/>
                </div>
                <div class="form-group">
                    <label for="DepartamentoId" class="control-label">Departamento</label>
                    <InputSelect id="DepartamentoId" class="form-control" @bind-Value="obj.DepartamentoId">
                    @foreach(var i in @objins){
                        <option value="@i.DepartamentoId">@i.Nombre</option>
                    }
                    </InputSelect>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" @onclick="@EliminarCurso">Eliminar</button>
                        <button type="button" class="btn btn-primary" @onclick="@Cancelar">Cancelar</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    Curso obj = new Curso();
    List<Departamento> objins;
    protected void EliminarCurso()
    {
        serv.Eliminar(obj);
        NavigationManager.NavigateTo("Cursos");
    }
    void Cancelar()
    {
        NavigationManager.NavigateTo("Cursos");
    }

    protected override void OnInitialized()
    {
        objins = sins.ObtenerTodo("");
        obj = serv.Obtener(Convert.ToInt32(Id));
    }
}