@page "/AgregarAsignacionCursos"
@inject NavigationManager NavigationManager
@using p25_universidadv5.Modelo
@using p25_universidadv5.Servicio
@inject ServicioAsignacionCursos serv;
@inject ServicioInstructores sins;
@inject ServicioCursos sins1;

<h3>Asignar Curso</h3>

<div class="row">
    <div class="col-md-8">
        <EditForm Model="@obj" OnValidSubmit="@CrearOficinaAsignada">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="form-group">
                <label for="InstructorId" class="control-label">Instructor</label>
                <InputSelect id="InstructorId" class="form-control" @bind-Value="obj.InstructorId">
                <option value="@(0)" disabled>-Elige un instructor-</option>
                @foreach(var i in @objins){
                    <option value="@i.Id">@i.NombreCompleto</option>
                }
                </InputSelect>
            </div>
            <div class="form-group">
                <label for="CursoId" class="control-label">Curso</label>
                <InputSelect id="CursoId" class="form-control" @bind-Value="obj.CursoId">
                <option value="@(0)" disabled>-Elige un curso-</option>
                @foreach(var i in @objins1){
                    <option value="@i.CursoId">@i.Titulo</option>
                }
                </InputSelect>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-primary" @onclick="@Cancelar">Cancelar</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    AsignacionCurso obj = new AsignacionCurso();
    List<Instructor> objins;
    List<Curso> objins1;
    protected void CrearOficinaAsignada()
    {
        serv.Insertar(obj);
        NavigationManager.NavigateTo("AsignacionCursos");
    }
    void Cancelar()
    {
        NavigationManager.NavigateTo("AsignacionCursos");
    }
    protected override void OnInitialized()
    {
        objins = sins.ObtenerTodo("");
        objins1 = sins1.ObtenerTodo("");
    }
}