@page "/EditarInscripciones/{Id}"
@inject NavigationManager NavigationManager
@using p25_universidadv5.Modelo
@using p25_universidadv5.Servicio
@inject ServicioInscripciones serv;
@inject ServicioEstudidantes sins;
@inject ServicioCursos sins1;

<h3>Asignar Inscripcion</h3>

<div class="row">
    <div class="col-md-8">
        <EditForm Model="@obj" OnValidSubmit="@ActualizarInscripcion">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <fieldset disabled="true">
                <div class="form-group">
                    <label for="EstudianteId" class="control-label">Estudiante</label>
                    <InputSelect id="EstudianteId" class="form-control" @bind-Value="obj.EstudianteId">
                    <option value="@(0)" disabled>-Elige estudiante-</option>
                    @foreach(var i in @objins){
                        <option value="@i.Id">@i.NombreCompleto</option>
                    }
                    </InputSelect>
                </div>
                <div class="form-group">
                    <label for="CursoId" class="control-label">Curso</label>
                    <InputSelect id="CursoId" class="form-control" @bind-Value="obj.CursoId">
                    <option value="@(0)" disabled>-Elige un curso-</option>
                    @foreach(var i in @objins1){
                        <option value="@i.CursoId">@i.Titulo</option>
                    }
                    </InputSelect>
                </div>
            </fieldset>
            <div class="form-group">
                <label for="Promedio" class="control-label">Calificacion</label>
                <InputNumber id="Promedio" class="form-control" @bind-Value="obj.Promedio"/>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-primary" @onclick="@Cancelar">Cancelar</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    Inscripcion obj = new Inscripcion();
    List<Estudiante> objins;
    List<Curso> objins1;
    protected void ActualizarInscripcion()
    {
        serv.Actualizar(obj);
        NavigationManager.NavigateTo("Inscripciones");
    }
    void Cancelar()
    {
        NavigationManager.NavigateTo("Inscripciones");
    }
    protected override void OnInitialized()
    {
        objins = sins.ObtenerTodo("");
        objins1 = sins1.ObtenerTodo("");
        obj = serv.Obtener(Convert.ToInt32(Id));
    }
}