@page "/Departamentos"
@using p25_universidadv5.Modelo;
@using p25_universidadv5.Servicio;
@inject ServicioDepartamentos serv

<NavLink class="btn btn-primary" href="AgregarDepartamentos">
    <i class="oi oi-plus"></i>&nbsp;Agregar Nuevo
</NavLink>

<h1>Informacion de Departamentos</h1>

<label>Buscar por nombre:</label>
<input type="text" @oninput="@( (e) => Filtro(e) )">

@if (obj is null)
{
    <p><em>Cargando...!</em></p>
}
else
{
    <table class="table">
            <thead>
                <tr>
                    <th>Departamento Id</th>
                    <th>Nombre</th>
                    <th>Presupuesto</th>
                    <th>Fecha de Inicio</th>
                    <th>Instructor</th>
                    <th></th>
                 </tr>
            </thead>
        <tbody>
            @foreach(var i in obj)
                {
            <tr>
                <td>@i.DepartamentoId</td>
                <td>@i.Nombre</td>
                <td>@i.Presupuesto</td>
                <td>@i.FechaDeInicio.ToString("yyyy-MMM-dd")</td>
                <td>@i.Instructor.NombreCompleto</td>
                <td>
                    <a class="btn btn-primary" href="EditarDepartamentos/@i.DepartamentoId">
                        <i class="oi oi-pencil"></i>&nbsp;Editar
                    </a>
                    <a class="btn btn-danger" href="EliminarDepartamentos/@i.DepartamentoId">
                        <i class="oi oi-trash"></i>&nbsp;Eliminar
                    </a>
                </td>
            </tr>
                }
        </tbody>
    </table>
}

@code{
    List<Departamento> obj;
    protected override void OnInitialized()
    {
        obj = serv.ObtenerTodo("");
    }

    protected void Filtro(ChangeEventArgs e) {
        string cadenaBuscar = e.Value.ToString();
        obj = serv.ObtenerTodo(cadenaBuscar);
    }
}