@page "/Employees"
@using p20_blazorcrud.Data
@inject EmployeeService employeeService

<NavLink class="btn btn-primary" href="AddEmployee">
    <i class="oi oi-plus"></i>&nbsp;Add New
</NavLink>

<h1>Employees Info</h1>

@if (EmpObj is null)
{
    <p><em>Loading... !</em></p>
}
else
{

    <table class="table">
            <thead>
                <tr>
                    <th>Emp Id</th>
                    <th>Employee Name</th>
                    <th>Gender</th>
                    <th>Designation</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
        <tbody>
            @foreach(var emp in EmpObj)
                {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.EmployeeName</td>
                <td>@emp.Gender</td>
                <td>@emp.Designation</td>
                <td>@emp.City</td>
                <td>
                    <a class="btn btn-primary" href="EditEmployee/@emp.Id">
                        <i class="oi oi-pencil"></i>&nbsp;Edit
                    </a>
                    <a class="btn btn-danger" href="DeleteEmployee/@emp.Id">
                        <i class="oi oi-trash"></i>&nbsp;Delete
                    </a>
                </td>
            </tr>
                }
        </tbody>
    </table>
}

@code {
    List<Employee> EmpObj;
    protected override void OnInitialized()
    {
        EmpObj = employeeService.GetAllEmployees();
    }
}
